/*头部导航栏*/

.sy a {
    color: #ffb200;
}

@media(min-width:760px) {
    .gylm,
    .cpzx,
    .xwzx,
    .alxc,
    .lxwm {
        border-top: 6px solid #fff;
    }
    .gylm:hover,
    .cpzx:hover,
    .xwzx:hover,
    .alxc:hover,
    .lxwm:hover {
        border-top: 6px solid #ffb200;
    }
    .sy {
        border-top: 6px solid #ffb200;
    }
}


/*图片上三角形*/

.img_s {
    position: absolute;
    left: 50%;
    margin-left: -5px;
    content: " ";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}

.img_y {
    position: absolute;
    left: 50%;
    margin-left: -5px;
    content: " ";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
}

.case li:hover .img_s {
    position: absolute;
    left: 50%;
    margin-left: -5px;
    content: " ";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #ffb200;
}

.case li:hover .img_y {
    position: absolute;
    left: 50%;
    margin-left: -5px;
    content: " ";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #ffb200;
}

.news_1 a,
.news_2 a {
    display: block;
}

.news_1 a,
.news_2 a {
    padding: 40px 30px;
}

.news_3 a:hover {
    color: #ffb200;
}

.news_3 h3 {
    padding-top: 0px;
}

.news_1,
.news_2,
.news_3 {
    padding-top: 0px;
}

.news_3 .border-lm {
    padding: 43px 30px;
    background-color: #fff;
    overflow: hidden;
}

.news_1 .date_1,
.news_2 .date_2 {
    font-size: 18px;
    color: #777777;
    padding-top: 2px;
    padding-bottom: 2px;
}

.news_1:hover h3,
p,
.news_2:hover h3,
p {
    color: #171b26;
}

.news_1:hover .date_1,
.news_2:hover .date_2 {
    color: #ffb200;
}

.news_1:hover a,
.news_2:hover a {
    border: 1px solid #ffb200;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
}

.case li:hover .l_line {
    border: 1px solid #fff;
}

.case li:hover p {
    color: #fff;
}

.weizhi,
.jiangxiang,
.rencai {
    border: 1px solid #fff;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wenzhang {
    padding-top: 28px;
}

@media(min-width:760px) {
    .biaoti {
        position: relative;
        width: 122px;
        top: -11px;
        left: 32%;
        font-size: 22px;
        text-align: center;
        background-color: #328cdb;
        color: #fff;
    }
    .neirong {
        font-size: 16px;
        padding: 15px;
        line-height: 30px;
    }
}

@media(max-width:759px) {
    .biaoti {
        position: relative;
        width: 122px;
        top: -11px;
        left: 36%;
        font-size: 22px;
        text-align: center;
        background-color: #328cdb;
        color: #fff;
    }
    .neirong {
        font-size: 16px;
        padding: 20px;
        line-height: 30px;
    }
    .q {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .curo .pointer {
        position: absolute;
        bottom: 0;
        padding-top: 82px;
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 15px;
    }
    .curos .pointer {
        padding-bottom: 0;
    }
}

.spac {
    padding-left: 0;
}

.h2,
h2 {
    font-size: 28px;
}

@media(max-width: 300px) {
    .product p {
        font-size: 14px;
    }
    .article_1 {
        padding-top: 6px;
        padding-bottom: 34px;
    }
    .article_2 {
        background-color: #f5f5f5;
    }
    .article_3 {
        padding-top: 6px;
        padding-bottom: 34px;
        background-color: #f5f5f5;
    }
    .article_1 h2 {
        padding-top: 10px;
        text-align: center;
    }
    .article_2 h2 {
        padding-top: 10px;
        text-align: center;
    }
    .article_3 h2 {
        padding-top: 10px;
        text-align: center;
    }
    .article_4 h2 {
        padding-top: 10px;
        text-align: center;
    }
    .article p {
        color: #fff;
    }
    .product img {
        width: 60%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .product {
        text-align: center;
    }
    .news_1,
    .news_2,
    .news_3 {
        width: 100%;
    }
    .news {
        margin-top: 20px;
        margin-bottom: 34px;
    }
    .news_1,
    .news_2 {
        padding-top: 16px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 13px;
    }
    .news_3 {
        padding-top: 15px;
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 25px;
    }
    .news_1 .date_1,
    .news_2 .date_2 {
        font-size: 18px;
        color: #777777;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .news_1:hover,
    .news_2:hover {
        color: #171b26;
    }
    .news p {
        line-height: 30px;
        font-size: 14px;
    }
    .news h3 {
        padding-bottom: 14px;
        font-size: 16px;
    }
    .case {
        padding-left: 0;
        padding-right: 0;
    }
    .weizhi,
    .rencai,
    .jiangxiang {
        height: 280px;
    }
    .a_4 p {
        color: #fff;
    }
}

@media(min-width:301px) {
    .product a {
        /* float: left; */
    }
    .product p {
        text-align: center;
    }
    .article_1 {
        padding-top: 43px;
        padding-bottom: 34px;
    }
    .article_2 {
        margin: 0;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
    .article_3 {
        padding-top: 43px;
        padding-bottom: 40px;
        background-color: #fff;
    }
    .article_2 h2 {
        padding-top: 43px;
        text-align: center;
    }
    /* news_article */
    .news_1,
    .news_2,
    .news_3 {
        width: 100%;
    }
    .news {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .news_1,
    .news_2 {
        padding-top: 15px;
        padding-left: 15px;
    }
    .news_3 {
        padding-top: 14px;
        padding-left: 14px;
    }
    .news h3 {
        padding-bottom: 14px;
        font-size: 16px;
    }
    /* about_us */
    .article_4 h2 {
        padding-top: 43px;
    }
    .article_4 {
        padding-bottom: 40px;
    }
    .article_4 p {
        font-size: 16px;
        color: #fff;
    }
    .a {
        font-size: 18px;
        margin-left: 14px;
        margin-right: 14px;
    }
    .case img {
        width: 100%;
    }
}

.a_4 h2 {
    color: #fff;
}

.a_4 h2:hover {
    color: #ffb200;
}

@media(max-width:449px) {
    .neirong {
        font-size: 14px;
        padding: 10px;
        line-height: 25px;
    }
    .biaoti {
        position: relative;
        width: 111px;
        top: -11px;
        left: 130px;
        font-size: 20px;
        text-align: center;
        background-color: #328cdb;
        color: #fff;
    }
}

@media (max-width:759px) {
    .banner_d {
        display: none;
    }
    .cont_1,
    .cont_2,
    .cont_3 {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f5f5f5;
    }
    .case li:hover .cont_1,
    .case li:hover .cont_2,
    .case li:hover .cont_3 {
        background-color: #ffb200;
        color: #fff;
    }
    .case h3 {
        padding-top: 10%;
        font-size: 16px;
        padding-left: 3px;
    }
    .l_line {
        border: 1px solid #ffb200;
        width: 12%;
        margin-left: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .case p {
        font-size: 14px;
        line-height: 30px;
        padding-left: 3px;
        overflow: hidden;
    }
    .banner .pager-next,
    .banner .pager-prev {
        display: none;
    }
}

@media(min-width:760px) {
    .case li {
        width: 0px;
    }
    .banner {
        position: relative;
    }
    .banner_d {
        position: absolute;
        top: 24%;
        left: 55%;
        border: 1px solid #fff;
        border-left: 0;
        padding: 20px 35px 10px 0;
    }
    .p1 {
        position: absolute;
        top: -15px;
        left: -134px;
        color: #fff;
        font-weight: normal;
        font-size: 16px;
        background-color: #ffb200;
        text-align: center;
        padding: 3px 10px;
    }
    .p2 {
        font-weight: normal;
        color: #fff;
        font-size: 25px;
        line-height: 28px;
        margin-left: -107px;
    }
    .p3 {
        font-size: 16px;
        color: #171b26;
        margin-left: -84px;
        margin-top: 5px;
    }
    .product a {
        float: left;
        /* width: 25%; */
    }
    .product p {
        text-align: center;
    }
    .article_1 {
        padding-top: 43px;
        padding-bottom: 34px;
    }
    .article_2 {
        margin: 0;
        /* padding-bottom: 79px; */
        background-color: #f5f5f5;
    }
    .article_3 {
        padding-top: 79px;
        padding-bottom: 92px;
        background-color: #fff;
    }
    .article_2 h2 {
        padding-top: 43px;
        text-align: center;
    }
    .news_1,
    .news_2,
    .news_3 {
        width: 33.333333%;
        float: left;
    }
    .news {
        /* margin-top: 70px;
        margin-bottom: 80px; */
    }
    .news_1,
    .news_2 {
        padding-top: 16px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 13px;
    }
    .news_3 {
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 25px;
    }
    .news_1:hover,
    .news_2:hover {
        color: #171b26;
    }
    .news h3 {
        padding-bottom: 14px;
        font-size: 16px;
    }
    .article_4 h2 {
        padding-top: 43px;
    }
    .article_4 {
        padding-bottom: 79px;
    }
    .article_4 p {
        font-size: 16px;
        color: #fff;
    }
    .a {
        font-size: 18px;
        margin-left: 14px;
        margin-right: 14px;
    }
    .cont_2 {
        background-color: #f5f5f5;
        width: 100%;
    }
    .cont_1,
    .cont_3 {
        background-color: #f5f5f5;
        width: 100%;
    }
    .case li:hover .cont_1,
    .case li:hover .cont_2,
    .case li:hover .cont_3 {
        background-color: #ffb200;
        color: #fff;
    }
    .case h3 {
        padding-top: 3%;
        font-size: 16px;
        padding-left: 3px;
    }
    .l_line {
        border: 1px solid #ffb200;
        width: 16%;
        margin-left: 4px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .case p {
        font-size: 13px;
        line-height: 17px;
        padding-left: 3px;
        overflow: hidden;
    }
}

@media(min-width:1000px) {
    .banner {
        position: relative;
    }
    .banner_d {
        position: absolute;
        top: 24%;
        left: 49%;
        border: 1px solid #fff;
        border-left: 0;
        padding: 20px 35px 10px 0;
    }
    .p1 {
        position: absolute;
        top: -15px;
        left: -134px;
        color: #fff;
        font-weight: normal;
        font-size: 20px;
        background-color: #ffb200;
        text-align: center;
        padding: 3px 10px;
    }
    .p2 {
        font-weight: normal;
        color: #fff;
        font-size: 56px;
        line-height: 56px;
        margin-left: -90px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .p3 {
        font-size: 18px;
        color: #171b26;
        margin-left: -37px;
        padding-top: 5px;
    }
    .product p {
        /* font-size: 16px; */
        text-align: center;
    }
    .product a {
        float: left;
    }
    .article_1 {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .article_2 {
        margin: 0;
        /* padding-bottom: 79px; */
        background-color: #f5f5f5;
    }
    .article_3 {
        padding-top: 40px;
        padding-bottom: 60px;
        background-color: #fff;
    }
    .article_2 h2 {
        padding-top: 40px;
        text-align: center;
    }
    .news_1,
    .news_2,
    .news_3 {
        width: 32.333333%;
        float: left;
    }
    .news_1,
    .news_2 {
        padding-top: 13px;
        padding-left: 29px;
        padding-right: 35px;
        padding-bottom: 29px;
    }
    .news_3 {
        padding-top: 13px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 18px;
    }
    .news_1:hover,
    .news_2:hover {
        color: #171b26;
    }
    .news p {
        line-height: 30px;
        font-size: 14px;
    }
    .news h3 {
        padding-bottom: 14px;
        font-size: 16px;
    }
    .article_4 h2 {
        padding-top: 40px;
    }
    .article_4 p {
        font-size: 16px;
        padding: 0px 10px;
    }
    .a {
        font-size: 18px;
        margin-left: 14px;
        margin-right: 14px;
    }
    .article_4 {
        padding-bottom: 60px;
    }
    .case {
        padding-left: 0;
        padding-right: 0;
    }
    .cont_2 {
        background-color: #f5f5f5;
        width: 100%;
    }
    .cont_1,
    .cont_3 {
        background-color: #f5f5f5;
        width: 100%;
    }
    .case li:hover .cont_1,
    .case li:hover .cont_2,
    .case li:hover .cont_3 {
        background-color: #ffb200;
        color: #fff;
    }
    .case h3 {
        padding-top: 5%;
        font-size: 16px;
        padding-left: 4px;
    }
    .l_line {
        border: 1px solid #ffb200;
        width: 16%;
        margin-left: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .case p {
        font-size: 14px;
        line-height: 30px;
        padding-left: 4px;
    }
    .case li:hover .cont_1,
    .case li:hover .cont_2,
    .case li:hover .cont_3 {
        background-color: #ffb200;
        color: #fff;
    }
}

@media(max-width:999px) {
    .news_3 .border-lm {
        padding-top: 40px;
        padding-bottom: 19px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #fff;
        overflow: hidden;
    }
}

@media(max-width:1199px) {
    .p_hide {
        display: none;
    }
}

@media(min-width:1200px) {
    .news_1,
    .news_2,
    .news_3 {
        width: 33.333333%;
        float: left;
    }
    .news_1:hover,
    .news_2:hover {
        color: #171b26;
    }
    .news h3 {
        padding-bottom: 14px;
        font-size: 16px;
    }
    .a {
        font-size: 18px;
        margin-left: 14px;
        margin-right: 14px;
    }
    .cont_2 {
        background-color: #f5f5f5;
        width: 100%;
    }
    .cont_1,
    .cont_3 {
        background-color: #f5f5f5;
        width: 100%;
    }
    .case li:hover .cont_1,
    .case li:hover .cont_2,
    .case li:hover .cont_3 {
        background-color: #ffb200;
        color: #fff;
    }
    .case h3 {
        padding-top: 15%;
        font-size: 18px;
        padding-left: 30px;
    }
    .l_line {
        border: 1px solid #ffb200;
        width: 16%;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .case p {
        font-size: 14px;
        line-height: 30px;
        padding-left: 30px;
    }
    .pad {
        padding-top: 95px;
    }
    .p_1 {
        font-size: 16px;
        line-height: 40px;
    }
}

.p_hide {
    display: none;
    font-size: 14px;
}

@media(min-width:1200px) {
    .active .pad p {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        color: #ffffff;
        background-color: #ffb200;
        border: 1px solid #ffb200;
    }
    .active .pad .p_1 {
        padding-top: 5px;
    }
    .active .pad .p_hide {
        padding-bottom: 18px;
    }
    .active .pad {
        padding-top: 0px;
        border: 1px solid #ffb200;
    }
}

@media(max-width:1000px) {
    .article_1 h2,
    .article_2 h2,
    .article_3 h2,
    .article_4 h2 {
        font-weight: normal;
        font-size: 24px;
        text-align: center;
    }
}

.product a {
    padding: 1px;
    display: block;
}

.article_1 h2,
.article_2 h2,
.article_3 h2,
.article_4 h2 {
    font-weight: normal;
    text-align: center;
}

.boder {
    margin-bottom: 15px;
    padding-top: 11px;
    border-bottom: 1px solid #ffb200;
    width: 48px;
}

.boder_1 {
    padding-top: 11px;
    margin-bottom: 40px;
    border-bottom: 1px solid #fff;
    width: 48px;
}

.article_4 {
    color: #fff;
    margin: 0;
    background-color: #328cdb;
}

.spac li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    line-height: 30px;
}

.spac li:hover {
    color: #ffb200;
}

.pad p {
    transition: all .3s
}