    /*头部导航栏*/
    
    .xwzx a,
    a:hover {
        color: #ffb200;
    }
    /*shouye*/
    
    .news,
    .news_center a:hover {
        color: #ffb200;
    }
    
    .news_center {
        padding-top: 20px;
        padding-bottom: 70px;
    }
    
    .new_s {
        padding-bottom: 70px;
    }
    
    .psui li {
        font-size: 16px;
    }
    
    .join_shili h2,
    .popular_equipment h2,
    .facility h2 {
        font-size: 28px;
        font-weight: normal;
    }
    
    .l_line {
        margin-bottom: 30px;
        margin-top: 10px;
        width: 46px;
        border: 1px solid #ffb200;
    }
    
    .release_time {
        padding-top: 50px;
        padding-bottom: 15px;
    }
    
    .red_more {
        padding-top: 36px;
    }
    
    .ydu {
        padding-bottom: 60px;
    }
    /*index_news_list*/
    
    .news_date_1 span {
        padding-top: 35px;
        display: block;
        background-color: #ffb200;
        color: #FFF;
        font-size: 60px;
    }
    
    .news_date_2 span {
        padding-top: 35px;
        display: block;
        background-color: #cccccc;
        color: #FFF;
        font-size: 60px;
    }
    
    .news_date_1 p {
        font-size: 22px;
        padding-bottom: 34px;
        background-color: #ffb200;
        color: #FFF;
    }
    
    .news_date_2 p {
        font-size: 22px;
        padding-bottom: 34px;
        background-color: #cccccc;
        color: #FFF;
    }
    
    .news_r_1,
    .news_r_2 {
        border: 1px solid #cccccc;
        padding: 32px 47px;
    }
    
    .mews_r_1 h3 {
        color: #ffb200;
    }
    
    .news_r_1 h3,
    .news_r_2 h3 {
        font-size: 18px;
        padding-bottom: 22px;
    }
    
    .news_matter {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    
    .page {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    /*popular_equipment*/
    
    .equipment {
        padding-top: 50px;
        padding-bottom: 40px;
        text-align: center;
    }
    /*相关设备*/
    
    .posui {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .xwt img {
        margin: 0 auto;
        display: block;
    }
    
    @media(max-width:300px) {
        .psui li {
            margin-bottom: 10px;
        }
    }
    
    @media(min-width:301px) {
        .psui li {
            margin-bottom: 15px;
        }
    }
    
    @media(min-width:760px) {
        .sy,
        .gylm,
        .cpzx,
        .alxc,
        .lxwm {
            border-top: 6px solid #fff;
        }
        .sy:hover,
        .gylm:hover,
        .cpzx:hover,
        .alxc:hover,
        .lxwm:hover {
            border-top: 6px solid #ffb200;
        }
        .xwzx {
            border-top: 6px solid #ffb200;
        }
    }
    
    @media (max-width:449px) {
        .banner_d,
        .yinying {
            display: none;
        }
        .news_center {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .new_s {
            padding-bottom: 20px;
        }
        .new_s li {
            list-style: none;
            list-style: none;
            width: 50%;
            font-size: 14px;
            float: left;
        }
        .new_s li a {
            padding: 10px 20px;
            border-radius: 5px;
        }
        .new_s .active li a {
            background-color: #ffb200;
            color: #fff;
        }
        .release_time {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .red_more {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .ydu {
            padding-bottom: 40px;
        }
        .page {
            padding-top: 20px;
            padding-bottom: 40px;
        }
        .equipment {
            padding-top: 50px;
            padding-bottom: 50px;
            text-align: center;
        }
        .join_shili h2 {
            font-size: 24px;
        }
        .news_date_1 p {
            font-size: 17px;
            padding-bottom: 24px;
            background-color: #ffb200;
            color: #FFF;
        }
        .news_date_1 span {
            padding-top: 16px;
            display: block;
            background-color: #ffb200;
            color: #FFF;
            font-size: 36px;
        }
        .news_date_2 p {
            font-size: 17px;
            padding-bottom: 24px;
            background-color: #cccccc;
            color: #FFF;
        }
        .news_date_2 span {
            padding-top: 16px;
            display: block;
            background-color: #cccccc;
            color: #FFF;
            font-size: 36px;
        }
        .news_r_1,
        .news_r_2 {
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            padding: 16px 20px;
        }
        .news_r_1 h3,
        .news_r_2 h3 {
            font-size: 16px;
            padding-bottom: 15px;
        }
        .news_r_1 p,
        .news_r_2 p {
            overflow: hidden;
        }
    }
    
    @media(min-width:450px) {
        .news_center {
            padding-top: 20px;
        }
        .new_s {
            padding-bottom: 70px;
        }
        .red_more {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .new_s li {
            list-style: none;
            font-size: 18px;
        }
        .new_s li a {
            padding: 10px 65px;
            border-radius: 10px;
        }
        .new_s .active li a {
            background-color: #ffb200;
            color: #fff;
        }
    }
    
    @media(min-width:760px) {
        .banner .p1 {
            font-size: 22px;
            color: #fff;
        }
        .banner .p2 {
            font-size: 15px;
            padding-top: 6px
        }
    }
    
    @media(max-width:1000px) {
        .news_r_1,
        .news_r_2 {
            height: 172px;
            overflow: hidden;
        }
    }
    
    @media(max-width:999px) {
        .tbu {
            background: url(../img/news/banner.jpg) no-repeat;
            height: 100px;
            width: 100%;
            background-size: 100% 100%;
        }
        .p_hide,
        .case_hide {
            display: none;
        }
    }
    
    @media(min-width:1000px) {
        .tbu {
            background: url(../img/news/banner.jpg) no-repeat;
            height: 260px;
            width: 100%;
            background-size: 100% 100%;
        }
    }
    
    @media(min-width:1000px) {
        .banner .p1 {
            font-size: 32px;
            color: #fff;
        }
        .banner .p2 {
            font-size: 20px;
            padding-top: 18px
        }
        .business_news {
            text-align: right;
        }
    }
    
    @media(min-width:1200px) {
        .active .news_date_2 p,
        .active .news_date_1 p {
            font-size: 17px;
            padding-bottom: 24px;
            background-color: #ffb200;
            color: #FFF;
        }
        .actve .news_date_2 .news_date_1 span {
            padding-top: 16px;
            display: block;
            background-color: #ffb200;
            color: #FFF;
            font-size: 36px;
        }
        .active .news_l {
            background-color: #ffb200;
        }
        .a_1,
        .a_2,
        .a_3,
        .a_4 {
            padding-top: 40px;
        }
        .a_1 p,
        .a_2 p,
        .a_3 p,
        .a_4 p {
            padding-top: 10px;
            /* padding-bottom: 10px; */
        }
        .sbei ab3 {
            padding-left: 0;
            padding-right: 0;
        }
        .p_hide {
            display: none;
        }
        .a_1,
        .a_2,
        .a_3,
        .a_4 {
            padding-top: 40px;
        }
        .active .a_1 {
            padding-top: 0;
            border: 1px solid #ffb200;
        }
        .active .p_hide {
            display: block;
            padding-bottom: 20px;
        }
        .active .ee,
        .active .p_hide {
            color: #fff;
            background-color: #ffb200;
        }
        .active .news_l {
            background-color: #ffb200;
        }
        .active .news_date_2 span {
            padding-top: 35px;
            display: block;
            background-color: #ffb200;
            color: #FFF;
            font-size: 60px;
        }
        .active .news_date_2 p {
            font-size: 22px;
            padding-bottom: 34px;
            background-color: #ffb200;
            color: #FFF;
        }
    }
    
    @media(max-width:759px) {
        .news_date_2,
        .news_date_1 {
            display: none;
        }
        .active .news_r_2,
        .active .news_r_1 {
            border: 1px solid #ffb200;
        }
        .news_r_1,
        .news_r_2 {
            padding: 18px 30px;
        }
    }
    
    @media (max-width:449px) {
        .banner_d,
        .yinying {
            display: none;
        }
    }
    
    @media(min-width:450px) and (max-width:759px) {
        .banner_d {
            padding-left: 22px;
            padding-top: 20px;
        }
        .yinying {
            height: 100px;
            width: 280px;
            background-color: rgba(0, 0, 0, 0.2);
        }
        .banner .p1 {
            font-size: 22px;
            color: #fff;
        }
        .banner .p2 {
            font-size: 15px;
            padding-top: 6px;
            color: #fff;
        }
    }
    
    @media(min-width:760px) and (max-width:999px) {
        .banner_d {
            padding-left: 16px;
            padding-top: 20px;
        }
        .yinying {
            height: 100px;
            width: 250px;
            background-color: rgba(0, 0, 0, 0.2);
        }
        .banner .p1 {
            font-size: 22px;
            color: #fff;
        }
        .banner .p2 {
            font-size: 15px;
            padding-top: 6px;
            color: #fff;
        }
    }
    
    @media(min-width:1000px) {
        .banner_d {
            padding-left: 38px;
            padding-top: 80px;
        }
        .yinying {
            width: 441px;
            height: 260px;
            background-color: rgba(0, 0, 0, 0.2);
        }
        .banner .p1 {
            font-size: 32px;
            color: #fff;
        }
        .banner .p2 {
            font-size: 20px;
            padding-top: 18px;
            color: #fff;
        }
    }
    
    .posui li {
        padding-bottom: 10px;
        font-size: 16px;
    }
    
    .selected-inline li {
        margin-right: 0;
    }
    
    @media (max-width:449px) {
        .banner_d,
        .yinying {
            display: none;
        }
        .posui li {
            padding-bottom: 10px;
            font-size: 14px;
            width: 50%;
            float: left;
        }
    }
    /*相关设备*/
    
    .posui {
        padding-bottom: 10px;
    }
    
    .psui a:hover {
        background-color: #ffb200;
        transition: all 0.2s;
    }
    
    .psui a:hover {
        border: 1px solid #e3e3e3;
        color: #fff;
    }
    
    .posui li {
        list-style: none;
        text-align: center;
        padding-bottom: 10px;
        font-size: 14px;
    }
    
    .posui li a {
        border: 1px solid #e3e3e3;
        padding: 5px 15px;
        border-radius: 10px;
    }
    
    @media(max-width:759px) {
        .psui li {
            margin-top: 10px;
            padding-bottom: 10px;
        }
    }
    
    @media(min-width:1000px) {
        .posui {
            padding-top: 15px;
            padding-bottom: 10px;
        }
    }